table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    max-width: 100%;
    width: 70%;
    margin-left: 15%;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }
  
  td {
    padding: 15px;
  }
  
  th {
    background-color: rgb(72, 240, 226);
    text-align: center;
  }