<!-- *ngIf permet de retirer l'element  -->
<!-- <div class="form"  *ngIf="affiche">
    <form [formGroup]="inputForm"  (ngsubmit)="validationFormulaire()">
      <h2>Ajout un livre</h2>
      <label for="title">Nom</label>
      <input type="text" id="title" placeholder="Entrez le nom du livre"   formControlName="title"/><br />
      <label for="author">Nom de l'author</label>
      <input type="text" id="author" placeholder="Entrez le nom de l'author"  formControlName="author" />
      <br /><input type="submit" value="Eregistrer" />
    </form>
  </div>
   -->
